



    <div id="clientProfile">
        <h3>Client Profile</h3>
        <p>@ViewBag.names</p>
    </div>
<div id="servicesMenu">
</div>

<h1>Fancy Spa</h1>
<div id="clientProfile">
</div>
<div id="servicesMenu">

    <h5>Facial Treatments</h5>
    <p>Your @ViewBag.skintype skin type is best suited to the follow facial types:</p>


    <ul>
        @foreach (string faces in ViewBag.face)
        {
            <li>@faces</li>
        }
    </ul>

    <h5>Nail Services</h5>

    <p>@ViewBag.manipedi</p>

</div>
